.col-6{
    margin: auto;
}

body{
    background-color: #eedeaa;
}

/* a:link
{
text-decoration: none;
color: black;
}

a:visited{
    color: black;
} */

.cardlink:link{
    text-decoration: none;
    color: black;
}

.cardlink:visited{
    color: black;
}