.profilePicture{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin: 50px; 
}

body{
    background-color: #ddf3f2;
}

.cardProfile{
    border-radius: 20px;
}

#editarperfil{
    text-decoration: cadetblue;
}